.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
}

.white{
  background-color: white;
  color: black;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  color: black;
  padding: 10%;
}

.containerHalf{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25 rem;
}

.mainImage{
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}


.button{
  background-color: white;
  color: lightcoral;
  height: 60px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  min-width: 160px;
}

.buttonVar2{
  color: white;
  background-color: palevioletred;
}

@media (width < 1200px) {
  .mainImage{
    width:95%;
    height:95%;
    margin-bottom: 50px;
  }

  .centered{
    font-size: 18px;
  }

  .button{
    height: 60px;
    font-size: 18px;
  }
}

@media (width < 600px) {
  .mainImage{
    margin-bottom: 70px;
  }

  .centered{
    font-size: 15px;
  }

  .button{
    height: 50px;
    font-size: 14px;
  }
}

.mainText{
  font-family: 'Montserrat', sans-serif;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.hostText p{
  text-align: left;
  font-size: 13px !important;
}

.card {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 22%;
  overflow: hidden;
  background-color: white;
  color: black;
  transition: 0.5s;
  margin-right: 3%;
  margin-bottom: 3%;
  text-align: center;
  padding-bottom: 45px;
}

.colorBlack{
  background-color: black;
  color: white;
}

.smallText p{
  font-size: 14px !important;
}

.experienceCard{
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 48%;
  color: black;
  overflow: hidden;
  transition: 0.5s;
  margin-right: 1%;
}

.hostCard{
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  color: black;
  overflow: hidden;
  transition: 0.5s;
  min-height: 600px;
}

.hostCard img{
  object-fit: cover;
  min-height: 600px;
}

.box{
  position: relative;
  display: inline-block;
}

.box .text{
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: -20%;
  right: 0;
  top: 10%; 
  text-align: left;
  width: 60%; 
  color:white;
}

.textBox{
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (width < 600px){
  .textBox{
    width: 100%;
  }
}

@media (width < 1000px){
  .textBox{
    width: 65%;
  }
}

.gridBox{
  width: 80%;
  margin-top: 50px;
}

.cardText{
  padding: 10px;
}

@media (width < 1100px) {
  .card{
    min-width: 45%;
    margin-bottom: 20px;
  }
}

@media (width < 800px){
  .experienceCard{
    width: 100%;
    margin-bottom: 20px;
  }
}

.hostGrid{
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (width < 800px){
  .hostGrid{
    flex-direction: column-reverse;
  }

  .hostPadding{
    padding: 0;
  }

  .hostColumn{
    width: 100% !important;
  }
}

.hostColumn{
  width: 50%;
  margin: auto;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.hostColumn .hostImage{
  object-fit: contain !important;
  width: 100%;
  height: 100%;
}

.hostText{
  font-size: 2.5vw;
}

.hostCard{
  text-align: left;
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.1);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.half {
  width: 100%;
}
